/* QNO 1. */

.animated-button {
    background-color: #c51e1e; /* Initial background color */
    color: white; /* Text color */
    padding: 10px 20px; /* Padding to make the button larger */
    font-size: 1rem; /* Font size */
    border: none; /* Remove default border */
    border-radius: 5px; /* Rounded corners */
    cursor: pointer; /* Pointer cursor on hover */
    transition: all 0.3s ease; /* Smooth transition for all properties */
  }
  
  .animated-button:hover {
    background-color: #ff5733; /* Change background color on hover */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Add box-shadow on hover */
    transform: scale(1.1); /* Slightly grow the button on hover */
  }
  /* -------------------------------------------------------------------------- */

  /* QNO2 */
  