* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.container {
  width: 100%;
  min-height: 100vh;
  background: rgb(170, 46, 11);
  background: linear-gradient(
    90deg,
    rgba(170, 46, 11, 1) 11%,
    rgba(255, 142, 23, 1) 93%
  );
  display: flex;
  justify-content: center;
  align-items: center;
}

.todo-app {
  width: 100%;
  max-width: 540px;
  background-color: #fff;
  padding: 40px 30px 70px;
  border-radius: 10px;
}

.todo-app h2 {
  color: #002765;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.todo-app h2 img {
  width: 30px;
  margin-left: 10px;
}

.row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #edeef0;
  border-radius: 30px;
  padding-left: 20px;
  margin-bottom: 25px;
}

input {
  flex: 1;
  border: none;
  outline: none;
  background: transparent;
  padding: 10px;
}

button {
  border: none;
  outline: none;
  padding: 16px 50px;
  background-color: #ff5945;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  border-radius: 40px;
}

ul li {
  list-style: none;
  font-size: 16px;
  padding: 12px 8px 12px 50px;
  user-select: none; /*cannot select the text*/
  cursor: pointer;
  position: relative;
  /* background-color: pink; */
}

ul li::before {
  content: "";
  position: absolute;
  height: 22px;
  width: 22px;
  border-radius: 50%;
  top: 9px;
  left: 8px;
  background-image: url(./images/unchecked.png);
  background-size: cover;
  background-position: center;
}

ul li.checked {
  color: #555;
  text-decoration: line-through;
}

ul li.checked::before {
  background-image: url(./images/checked.png);
}

ul li span {
  position: absolute;
  right: 0px;
  top: 0px;
  width: 40px;
  height: 40px;
  /* background-color: red; */
  font-size: 20px;
  color: #555;
  line-height: 40px;
  text-align: center;
}

ul li span:hover {
  background-color: #edeef0;
  border-radius: 50%;
}
